
<div class="header">
    <div class="left">
      <!-- <mat-form-field appearance="fill">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Search with emp id">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="true">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field> -->
    </div>
    <div class="right">
      <button mat-raised-button color="primary" (click)="addOrUpdateProduct('add','')">Add Product</button>
      <button mat-raised-button color="accent" (click)="generatePDF()">Download PDF</button>
      <button mat-raised-button color="accent" (click)="generateExcel()">Download Excel</button>

    </div>
  </div>

<div class="table-responsive" id="product-table">
    <table class="table">
        <thead>
            <tr>
                
                <th>Product Name</th>
                <th>SKU</th>
                <th>Brand</th>
                <th>Price</th>
                <th>Total Quantity</th>
                <th>Used Quantity</th>
                <th>Remaining Quantity</th>
                <th>Status</th>
                <th>Order By Store</th>
                <th>Date of Entry</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of empData">
                
                <td>{{ item?.name}}</td>
                <td>{{ item?.sku }}</td>
                <td>{{ item?.brand }}</td>
                <td>{{ item?.price }}</td>
                <td>{{ item?.totalQuantity}}</td>
                <td>{{ item?.usedQuantity }}</td>
                <td>{{ item?.remainingQuantity }}</td>
                <td>{{ item?.status }}</td>
                <td>{{ item?.createdByStore }}</td>
                <td>{{ item?.dateOfEntry }}</td>
                <!-- <td><a href="#" (click)="addProduct('update',item)"><mat-icon>edit</mat-icon></a></td> -->
                <button mat-raised-button color="primary" (click)="addOrUpdateProduct('update',item)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-raised-button color="warn" (click)="deleteProduct(item)">
                  <mat-icon>delete</mat-icon></button>
                <button mat-raised-button color="accent" (click)="printProduct(item)">
                  <mat-icon>print</mat-icon></button>
            </tr>
        </tbody>
    </table>
</div>

     
